In [2]:
import pandas as pd

df=pd.read_csv('Data.csv')
print(df)

      Country   Age   Salary Purchased
0       India  34.0  92000.0       Yes
1   Sri lanka  22.0  25000.0       Yes
2       China  31.0  74000.0       Yes
3   Sri lanka  29.0      NaN        No
4       China  55.0  98000.0       Yes
5       India  24.0  30000.0        No
6   Sri lanka  28.0  40000.0        No
7       India   NaN  60000.0        No
8       China  51.0  89000.0       Yes
9       India  44.0  78000.0       Yes
10  Sri lanka  21.0  20000.0        No
11      China  25.0  30000.0       Yes
12      India  33.0  45000.0       Yes
13      India  42.0  65000.0       Yes
14  Sri lanka  33.0  22000.0        No

In [3]:
x=df['Age'].mean()
df['Age'].fillna(x,inplace=True)

In [4]:
print(df)

      Country        Age   Salary Purchased
0       India  34.000000  92000.0       Yes
1   Sri lanka  22.000000  25000.0       Yes
2       China  31.000000  74000.0       Yes
3   Sri lanka  29.000000      NaN        No
4       China  55.000000  98000.0       Yes
5       India  24.000000  30000.0        No
6   Sri lanka  28.000000  40000.0        No
7       India  33.714286  60000.0        No
8       China  51.000000  89000.0       Yes
9       India  44.000000  78000.0       Yes
10  Sri lanka  21.000000  20000.0        No
11      China  25.000000  30000.0       Yes
12      India  33.000000  45000.0       Yes
13      India  42.000000  65000.0       Yes
14  Sri lanka  33.000000  22000.0        No

In [7]:
x=df['Salary'].median()
df['Salary'].fillna(x,inplace=True)

In [8]:
print(df)

      Country        Age        Salary Purchased
0       India  34.000000  92000.000000       Yes
1   Sri lanka  22.000000  25000.000000       Yes
2       China  31.000000  74000.000000       Yes
3   Sri lanka  29.000000  54857.142857        No
4       China  55.000000  98000.000000       Yes
5       India  24.000000  30000.000000        No
6   Sri lanka  28.000000  40000.000000        No
7       India  33.714286  60000.000000        No
8       China  51.000000  89000.000000       Yes
9       India  44.000000  78000.000000       Yes
10  Sri lanka  21.000000  20000.000000        No
11      China  25.000000  30000.000000       Yes
12      India  33.000000  45000.000000       Yes
13      India  42.000000  65000.000000       Yes
14  Sri lanka  33.000000  22000.000000        No

In [15]:
df=pd.get_dummies(df,columns=['Purchased'],drop_first=True)

In [16]:
print(df)

      Country        Age        Salary  Purchased_Yes
0       India  34.000000  92000.000000              1
1   Sri lanka  22.000000  25000.000000              1
2       China  31.000000  74000.000000              1
3   Sri lanka  29.000000  54857.142857              0
4       China  55.000000  98000.000000              1
5       India  24.000000  30000.000000              0
6   Sri lanka  28.000000  40000.000000              0
7       India  33.714286  60000.000000              0
8       China  51.000000  89000.000000              1
9       India  44.000000  78000.000000              1
10  Sri lanka  21.000000  20000.000000              0
11      China  25.000000  30000.000000              1
12      India  33.000000  45000.000000              1
13      India  42.000000  65000.000000              1
14  Sri lanka  33.000000  22000.000000              0

In [18]:
df=df.dropna()
print(df)

      Country        Age        Salary  Purchased_Yes
0       India  34.000000  92000.000000              1
1   Sri lanka  22.000000  25000.000000              1
2       China  31.000000  74000.000000              1
3   Sri lanka  29.000000  54857.142857              0
4       China  55.000000  98000.000000              1
5       India  24.000000  30000.000000              0
6   Sri lanka  28.000000  40000.000000              0
7       India  33.714286  60000.000000              0
8       China  51.000000  89000.000000              1
9       India  44.000000  78000.000000              1
10  Sri lanka  21.000000  20000.000000              0
11      China  25.000000  30000.000000              1
12      India  33.000000  45000.000000              1
13      India  42.000000  65000.000000              1
14  Sri lanka  33.000000  22000.000000              0

In [ ]:
df['Date']=pd.to_datetime(df['Date'])

df=df.drop_duplicates(inplace=True)

df.loc[7,'Duration']=67

df.dropna

x=df['Calories'].mean()

df['Calories'].fillna(x,inplace=True)